/* See card flipping https://www.youtube.com/watch?v=OV8MVmtgmoY */

.card-container {
  position: relative;
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* .card-a {
  background: url('img/morning-glory.jpg');
} */

/* Applied to both front and back of cards */
.card {
  border-radius: 15px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: red;
  transform: rotateY(180deg);
  cursor: default;
}


.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: blue;
  /*  so the back element rotates when we move th cursor away */
}
